<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Identity Chain</title>
    </head>
    <body>
        <div class="container" id="documentation">
            <video id="player" controls autoplay></video>
            <button id="capture">Capture</button>
            <canvas id="canvas" width=320 height=240></canvas>
            <script>
              const player = document.getElementById('player');
              const canvas = document.getElementById('canvas');
              const context = canvas.getContext('2d');
              const captureButton = document.getElementById('capture');

              const constraints = {
                video: true,
              };

              captureButton.addEventListener('click', () => {
                // Draw the video frame to the canvas.
                context.drawImage(player, 0, 0, canvas.width, canvas.height);
                $.ajax({
                    type: 'POST',
                    url: '/api/fr/addnewface',
                    data: JSON.stringify({
                        imageBase64: canvas.toDataURL()
                    }),
                    contentType: 'application/json'
                }).done(function(res) {
                  alert(res['name'])
                })
              });
              // Attach the video stream to the video element and autoplay.
              navigator.mediaDevices.getUserMedia(constraints)
                .then((stream) => {
                  player.srcObject = stream;
                });
            </script>
        </div>
    </body>
</html>
